@model ProductStatsViewModel

<h1>Item added!</h1>

<p>Name length: @Model.NameLength</p>
<p>Description length: @Model.DescriptionLength</p>

<p>Name: @Model.NameValue</p>
<p>Description: @Model.DescriptionValue</p>